
  <div class="cloud-splash">
    <div class="cloud-splash-logo">
      <img
        src="https://uploads-ssl.webflow.com/63b47a4f00ab98da785b4d1e/63b47c52c632658afeea5b95_Retm%20Logo.svg"
        loading="lazy"
        alt="نظام نقاط البيع رتم "
      />
    </div>
    <div class="cloud-page-main-header">
      <h1 class="heading-2 cloud">
        إدارة المطاعم أصبحت <span class="text-span-27">سهلة مع رتم!</span>
      </h1>
      <div class="paragraph-2 cloud">
        يمكِّنك رتم من إدارة مشروعك بالكامل وفي مكان واحد, فقط قم بإنشاء سحابتك
        الآن واستفد من كافة مزايا وتطبيقات رتم!
      </div>
      <a href="#" class="button blue w-inline-block"
        ><div>إنشاء سحابة جديدة</div>
        <img
          src="https://uploads-ssl.webflow.com/63b47a4f00ab98da785b4d1e/63b47dc13b5bb3e4f1906f7a_Arrow%20Left.svg"
          loading="lazy"
          alt=""
      /></a>
    </div>
    <div class="cloud-splash-main-image">
      <img
        src="https://uploads-ssl.webflow.com/63b47a4f00ab98da785b4d1e/640a95c3546bd5d9e9002682_Tablet-animation-400p.gif"
        loading="lazy"
        alt=""
        class="cloud-header-imager"
      />
    </div>
  </div>

