.cloud-section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 48px 56px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.cloud-grid {
  position: relative;
  z-index: 1;
  width: 100%;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}
.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

#w-node-f96f6c65-20b1-4265-8ef7-c3fd414e1e4b-06f085b6 {
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

.back-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 4px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  align-self: flex-start;
  grid-column-gap: 4px;
  border-radius: 4px;
  background-color: transparent;
  color: #171717;
  font-size: 16px;
  line-height: 27.2px;
  text-align: right;
  text-decoration: none;
}
.w-inline-block {
  max-width: 100%;
  display: inline-block;
}


.cloud-top-content {
    display: -webkit-box;
    display: -webkit-flex; 
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

img {
  border: 0;
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
}
.cloud-form.registration {
  margin-bottom: 12px;
}
.cloud-field-label {
  margin-bottom: 0;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
}

.cloud-field.registration {
  margin-bottom: 12px;
}
.cloud-field {
  height: 100%;
  max-height: 56px;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 18px 22px;
  border: 1.5px solid #c7cad1;
  border-radius: 10px;
}
.w-input,
.w-select {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
}
input {
  line-height: normal;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

input.w-button {
  -webkit-appearance: button;
}
.button {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 52px;
  padding: 12px 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  grid-column-gap: 8px;
  border-radius: 8px;
  background-color: #00bc71;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  color: #fff;
  font-size: 16px;
  line-height: 27.2px;
  text-align: center;
  text-decoration: none;
}
.w-button {
  display: inline-block;
  padding: 9px 15px;
  background-color: #00bc71 !important;
  color: #fff;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}
input {
  line-height: normal;
}
.text-block-32 {
  margin-top: 24px;
  color: #a3a3a3;
  line-height: 24px;
}

.text-span-33 {
  color: #525252;
}

a {
  background-color: transparent;
}
img {
  border: 0;
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
}

#w-node-_2ae84f6b-bb78-4816-5af2-9b945c5a9524-06f085b6 {
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

.cloud-creation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 412px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-row-gap: 36px;
}

.cloud-creation-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  align-self: stretch;
  grid-row-gap: 12px;
}

.cloud-creation-heading {
  color: #004f2f;
  font-size: 40px;
  line-height: 56px;
  font-weight: 700;
  text-align: center;
}

.text-span-34 {
  color: #00bc71;
}

.paragraph-2 {
  display: block;
  max-width: 50ch;
  margin-right: auto;
  margin-left: auto;
  direction: rtl;
  color: #737373;
  font-size: 18px;
  line-height: 30.6px;
  font-weight: 300;
  text-align: center;
}

.service-key-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}
.w-form {
  margin: 0 0 15px;
}

.sevice-key-form-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.url-field.with-button {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.url-field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 18px 22px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 1px 1px 2px 0 hsla(0, 0%, 9%, 0.1);
  direction: ltr;
  color: #737373;
  font-size: 16px;
  line-height: 28px;
}

.div-block-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  grid-column-gap: 10px;
}

.text-span-31 {
  color: #00bc71;
}

.text-span-32 {
  color: #171717;
}

img {
  border: 0;
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
}

.button.no-fill {
  max-height: 42px;
  padding: 0 16px;
  background-color: transparent;
  color: #00bc71;
}
.button {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 52px;
  padding: 12px 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  grid-column-gap: 8px;
  border-radius: 8px;
  background-color: #00bc71;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  color: #fff;
  font-size: 16px;
  line-height: 27.2px;
  text-align: center;
  text-decoration: none;
}
.w-inline-block {
  max-width: 100%;
  display: inline-block;
}
a {
  background-color: transparent;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.cloud-form.registration {
  margin-bottom: 12px;
}

input.w-button {
  -webkit-appearance: button;
}
.button {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 52px;
  padding: 12px 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  grid-column-gap: 8px;
  border-radius: 8px;
  background-color: #00bc71;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  color: #fff;
  font-size: 16px;
  line-height: 27.2px;
  text-align: center;
  text-decoration: none;
}
.w-button {
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898ec;
  color: #fff;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}

.text-block-32 {
  margin-top: 24px;
  color: #a3a3a3;
  line-height: 24px;
}

.text-span-33 {
  color: #525252;
}

.w-form-done {
  display: none;
  padding: 20px;
  text-align: center;
  background-color: #ddd;
}

.w-form-fail {
  display: none;
  margin-top: 10px;
  padding: 10px;
  background-color: #ffdede;
}

#w-node-_94d17e3f-35b8-8dce-1d27-62bdbc54835d-06f085b6 {
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

.cloud-buttom-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  direction: ltr;
  color: #737373;
}

.div-block-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  grid-column-gap: 8px;
}

.onboarding {
  position: absolute;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 5%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.onboarding-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  align-self: center;
  grid-column-gap: 36px;
}

.progress-bar {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-progress-bar {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-row-gap: 56px;
}

.onboarding-step.done {
  border: 1px solid #00bc71;
  background-color: #fff;
  color: #00bc71;
}

.onboarding-step {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 32px;
  height: 32px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 220px;
  background-color: #00bc71;
  color: #fff;
  text-align: center;
}

.onboarding-text.hide {
  display: none;
}

.check-icon.active,
.onboarding-text {
  display: block;
}

img {
  border: 0;
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
}

.check-icon {
  display: none;
}

.check-icon.active,
.onboarding-text {
  display: block;
}

.onboarding-step.default {
  border-color: #d4d4d4;
  background-color: #fafafa;
  color: #d4d4d4;
}

.progress-bar-line {
  position: relative;
  left: 0;
  top: 0;
  right: -50%;
  bottom: 0;
  width: 1px;
  height: 376px;
  background-color: #d4d4d4;
}

.steps {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-row-gap: 40px;
  font-weight: 400;
  text-align: right;
}

.step-container {
  color: #171717;
  line-height: 24px;
}

.text-block-30 {
  color: #737373;
  font-weight: 300;
}





  #w-node-_8b1a816b-c28d-6361-159d-1ca0527cdda8-06f085b6 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }
  
  .cloud-top-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  
  
  .cloud-section {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 48px 56px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  

  
  .cloud-grid {
    position: relative;
    z-index: 1;
    width: 100%;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  
  .w-inline-block {
    max-width: 100%;
    display: inline-block;
  }
  
  .back-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 4px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    align-self: flex-start;
    grid-column-gap: 4px;
    border-radius: 4px;
    background-color: transparent;
    color: #171717;
    font-size: 16px;
    line-height: 27.2px;
    text-align: right;
    text-decoration: none;
  }
  
 
 
  
  
  
