<!-- <div class="cloud-section">
  <div class="w-layout-grid cloud-grid">
    <div
      id="w-node-f96f6c65-20b1-4265-8ef7-c3fd414e1e4b-06f085b6"
      class="cloud-top-content"
    >
      <div>
        <a id="back-button" href="#" class="back-button w-inline-block"
          ><div>الرجوع</div>
          <img
            src="https://uploads-ssl.webflow.com/63b47a4f00ab98da785b4d1e/63b77bdc02e67e09391b7b9f_Arrow%20Left%20-%20green.svg"
            loading="lazy"
            alt=""
        /></a>
      </div>
      <div>
        <img
          src="https://uploads-ssl.webflow.com/63b47a4f00ab98da785b4d1e/63b47c52c632658afeea5b95_Retm%20Logo.svg"
          loading="lazy"
          alt="نظام نقاط البيع رتم "
        />
      </div>
    </div>

    <div
      id="w-node-_2ae84f6b-bb78-4816-5af2-9b945c5a9524-06f085b6"
      class="cloud-creation"
    >
      <div class="cloud-creation-header">
        <div class="cloud-creation-heading">
          صفحة <span class="text-span-34">التسجيل</span>
        </div>
        <div class="paragraph-2">
          أنشئ بيانات الدخول لمدير النظام, لتتمكن منالدخول وإدارة حسابك في اي
          وقت!
        </div>
      </div>
      <div class="service-key-form w-form">
        <form
          id="email-form"
          name="email-form"
          data-name="Email Form"
          method="get"
          class="sevice-key-form-container"
          aria-label="Email Form"
        >
          <div class="url-field with-button">
            <div class="div-block-16">
              <div>
                <span class="text-span-31">https://</span>
                <span class="text-span-32"><strong>test</strong></span>
                .retm.sa
              </div>
              <img
                loading="lazy"
                src="https://uploads-ssl.webflow.com/63b47a4f00ab98da785b4d1e/640bc1d42e2b161f8f0f54d9_Lock.svg"
                alt=""
              />
            </div>
            <a href="#" class="button no-fill w-inline-block"
              ><div>تغيير</div></a
            >
          </div>
          <div class="cloud-form registration">
            <label for="Name-3" class="cloud-field-label">اسم المستخدم</label
            ><input
              type="text"
              class="cloud-field registration w-input"
              maxlength="256"
              name="Name"
              data-name="Name"
              placeholder="إسم المستخدم الذي سيظهر في حسابك"
              id="Name-3"
              required=""
            /><label for="password-2" class="cloud-field-label"
              >الرقم السري</label
            ><input
              type="password"
              class="cloud-field registration w-input"
              maxlength="256"
              name="password"
              data-name="password"
              placeholder="الرقم السري الخاص بالدخول للحساب"
              id="password-2"
              required=""
            /><label for="password" class="cloud-field-label"
              >تأكيد الرقم السري</label
            ><input
              type="password"
              class="cloud-field registration w-input"
              maxlength="256"
              name="password"
              data-name="password"
              placeholder="أعد كتابة الرقم السري"
              id="password"
              required=""
            />
          </div>
          <input
            type="submit"
            value="حجز رمز الخدمة"
            data-wait="المرجوا الإنتظار"
            class="button w-button"
          />
          <div class="text-block-32">
            يُعد النقر على زر اتمام عملية التسجيل موافقة منك على
            <span class="text-span-33">شروط الاستخدام وسياسة الخصوصية</span>
          </div>
        </form>
        <div
          class="w-form-done"
          tabindex="-1"
          role="region"
          aria-label="Email Form success"
        >
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div
          class="w-form-fail"
          tabindex="-1"
          role="region"
          aria-label="Email Form failure"
        >
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="onboarding step-3">
    <div class="onboarding-container">
      <div class="progress-bar">
        <div class="container-progress-bar">
          <div class="onboarding-step done">
            <div class="onboarding-text hide">1</div>
            <img
              src="https://uploads-ssl.webflow.com/63b47a4f00ab98da785b4d1e/63befc017a1cb446c1ffa5a6_Check%20Mark.svg"
              loading="lazy"
              alt=""
              class="check-icon active"
            />
          </div>
          <div class="onboarding-step done">
            <div class="onboarding-text hide">2</div>
            <img
              src="https://uploads-ssl.webflow.com/63b47a4f00ab98da785b4d1e/63befc017a1cb446c1ffa5a6_Check%20Mark.svg"
              loading="lazy"
              alt=""
              class="check-icon active"
            />
          </div>
          <div class="onboarding-step in-progress">
            <div class="onboarding-text">3</div>
            <img
              src="https://uploads-ssl.webflow.com/63b47a4f00ab98da785b4d1e/63befc017a1cb446c1ffa5a6_Check%20Mark.svg"
              loading="lazy"
              alt=""
              class="check-icon"
            />
          </div>
          <div class="onboarding-step default">
            <div class="onboarding-text">4</div>
            <img
              src="https://uploads-ssl.webflow.com/63b47a4f00ab98da785b4d1e/63befc017a1cb446c1ffa5a6_Check%20Mark.svg"
              loading="lazy"
              alt=""
              class="check-icon"
            />
          </div>
        </div>
        <div class="progress-bar-line"></div>
      </div>
      <div class="steps">
        <div class="step-container">
          <div>شروط الإستخدام</div>
          <div class="text-block-30">الموافقة على الشروط والأحكام</div>
        </div>
        <div class="step-container">
          <div>حجز رمز الخدمة</div>
          <div class="text-block-30">أنشئ رمز الخدمة الخاص بك</div>
        </div>
        <div class="step-container">
          <div>صفحة التسجيل</div>
          <div class="text-block-30">انشئ بيانات الدخول لمدير النظام</div>
        </div>
        <div class="step-container">
          <div>الموجز الكامل</div>
          <div class="text-block-30">تأكد من بياناتك واحجز</div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="cloud-section">
  <div class="w-layout-grid cloud-grid">
    <div
      id="w-node-_8b1a816b-c28d-6361-159d-1ca0527cdda8-06f085b6"
      class="cloud-top-content"
    >
      <div>
        <a id="back-button" href="#" class="back-button w-inline-block"
          ><div>الرجوع</div>
          <img
            src="https://uploads-ssl.webflow.com/63b47a4f00ab98da785b4d1e/63b77bdc02e67e09391b7b9f_Arrow%20Left%20-%20green.svg"
            loading="lazy"
            alt=""
        /></a>
      </div>
      <div>
        <img
          src="https://uploads-ssl.webflow.com/63b47a4f00ab98da785b4d1e/63b47c52c632658afeea5b95_Retm%20Logo.svg"
          loading="lazy"
          alt="نظام نقاط البيع رتم "
        />
      </div>
    </div>
    <div
      id="w-node-_2ae84f6b-bb78-4816-5af2-9b945c5a9524-06f085b6"
      class="cloud-creation"
    >
      <div class="cloud-creation-header">
        <div class="cloud-creation-heading">
          صفحة <span class="text-span-34">التسجيل</span>
        </div>
        <div class="paragraph-2">
          أنشئ بيانات الدخول لمدير النظام, لتتمكن منالدخول وإدارة حسابك في اي
          وقت!
        </div>
      </div>
      <div class="service-key-form w-form">
        <form
          id="email-form"
          name="email-form"
          data-name="Email Form"
          method="get"
          class="sevice-key-form-container"
          aria-label="Email Form"
        >
          <div class="url-field with-button">
            <div class="div-block-16">
              <div>
                <span class="text-span-31">https://</span>
                <span class="text-span-32"><strong>test</strong></span>
                .retm.sa
              </div>
              <img
                loading="lazy"
                src="https://uploads-ssl.webflow.com/63b47a4f00ab98da785b4d1e/640bc1d42e2b161f8f0f54d9_Lock.svg"
                alt=""
              />
            </div>
            <a href="#" class="button no-fill w-inline-block"
              ><div>تغيير</div></a
            >
          </div>
          <div class="cloud-form registration">
            <label for="Name-3" class="cloud-field-label">اسم المستخدم</label
            ><input
              type="text"
              class="cloud-field registration w-input"
              maxlength="256"
              name="Name"
              data-name="Name"
              placeholder="إسم المستخدم الذي سيظهر في حسابك"
              id="Name-3"
              required=""
            /><label for="password-2" class="cloud-field-label"
              >الرقم السري</label
            ><input
              type="password"
              class="cloud-field registration w-input"
              maxlength="256"
              name="password"
              data-name="password"
              placeholder="الرقم السري الخاص بالدخول للحساب"
              id="password-2"
              required=""
            /><label for="password" class="cloud-field-label"
              >تأكيد الرقم السري</label
            ><input
              type="password"
              class="cloud-field registration w-input"
              maxlength="256"
              name="password"
              data-name="password"
              placeholder="أعد كتابة الرقم السري"
              id="password"
              required=""
            />
          </div>
          <input
            type="submit"
            value="حجز رمز الخدمة"
            data-wait="المرجوا الإنتظار"
            class="button w-button"
          />
          <div class="text-block-32">
            يُعد النقر على زر اتمام عملية التسجيل موافقة منك على
            <span class="text-span-33">شروط الاستخدام وسياسة الخصوصية</span>
          </div>
        </form>
        <div
          class="w-form-done"
          tabindex="-1"
          role="region"
          aria-label="Email Form success"
        >
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div
          class="w-form-fail"
          tabindex="-1"
          role="region"
          aria-label="Email Form failure"
        >
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="onboarding step-3">
    <div class="onboarding-container">
      <div class="progress-bar">
        <div class="container-progress-bar">
          <div class="onboarding-step done">
            <div class="onboarding-text hide">1</div>
            <img
              src="https://uploads-ssl.webflow.com/63b47a4f00ab98da785b4d1e/63befc017a1cb446c1ffa5a6_Check%20Mark.svg"
              loading="lazy"
              alt=""
              class="check-icon active"
            />
          </div>
          <div class="onboarding-step done">
            <div class="onboarding-text hide">2</div>
            <img
              src="https://uploads-ssl.webflow.com/63b47a4f00ab98da785b4d1e/63befc017a1cb446c1ffa5a6_Check%20Mark.svg"
              loading="lazy"
              alt=""
              class="check-icon active"
            />
          </div>
          <div class="onboarding-step in-progress">
            <div class="onboarding-text">3</div>
            <img
              src="https://uploads-ssl.webflow.com/63b47a4f00ab98da785b4d1e/63befc017a1cb446c1ffa5a6_Check%20Mark.svg"
              loading="lazy"
              alt=""
              class="check-icon"
            />
          </div>
          <div class="onboarding-step default">
            <div class="onboarding-text">4</div>
            <img
              src="https://uploads-ssl.webflow.com/63b47a4f00ab98da785b4d1e/63befc017a1cb446c1ffa5a6_Check%20Mark.svg"
              loading="lazy"
              alt=""
              class="check-icon"
            />
          </div>
        </div>
        <div class="progress-bar-line"></div>
      </div>
      <div class="steps">
        <div class="step-container">
          <div>شروط الإستخدام</div>
          <div class="text-block-30">الموافقة على الشروط والأحكام</div>
        </div>
        <div class="step-container">
          <div>حجز رمز الخدمة</div>
          <div class="text-block-30">أنشئ رمز الخدمة الخاص بك</div>
        </div>
        <div class="step-container">
          <div>صفحة التسجيل</div>
          <div class="text-block-30">انشئ بيانات الدخول لمدير النظام</div>
        </div>
        <div class="step-container">
          <div>الموجز الكامل</div>
          <div class="text-block-30">تأكد من بياناتك واحجز</div>
        </div>
      </div>
    </div>
  </div>
</div>
